@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Poppins:wght@100;300;500&display=swap');

.container{
    margin: 17% 25%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color : whitesmoke;
    font-weight: 300;
}

.button{
    padding-top: 2em;
}

/* BOUTON  */
.btn {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:after {
  content: "";
  background-color: rgb(238,215,183);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover:after {
  top: 0px;
  left: 0px;
}

.btn:visited{
    color: black;
}

@media (min-width: 768px) {
  .btn {
    padding: 13px 50px 13px;
  }
}