*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/fond4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.menu-nav{
    display: flex;
    background-color:#24262B;
    justify-content: space-around;
    padding: 2rem 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 220px;
}

.nav_list{
    display: flex;
    align-items: center;
}

.nav_items{
    margin: 0 8px;
}

.nav_links:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.nav_links{
    position: relative;
    padding: 10px;
    color: rgb(218, 218, 218);
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 5px;
}



.header_toggle, .header_close{
    display: none;
}


@media (hover: hover) and (pointer: fine) {
    .nav_links:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

