body{
    list-style-type: none;
}

.image{
    display: flex;
    justify-content: center;
}
.img_project{
    
    width: 400px;
    height: 200px;
    border-radius: 10%;
    text-align: center;
}

.items{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 10em;
}

.item{
    background-color: aliceblue;
    border-radius: 10%;
    padding: 2em;
}

h1{
    text-align: center;
}


.img_logo{
    max-width: 35px;
    height: auto;
    background-color: #ccc;
    border-radius: 10%;
}
